@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;600&display=swap');

@import "icon";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(71 85 105);
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 100px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  